html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color:#e8fcec;
    font-family: 'Poppins', sans-serif;
}
a {
    margin:0 10px;
    font-size:1.5rem;
    color:black;
}

.csrd:hover{
    box-shadow: 0 0 30px 0.5px #dddddd;
}
.csrd>div{
    padding-left: 50px;
    padding-right: 50px;
}
.cspd{
    padding-left: 25%;;
}
.signin{
    padding:10px;
font-size: 1.5rem;
    color: white;
}